---

---
<style>
  .card {
    border-radius: .75rem;
  }
</style>
<div class="card mb-5">
  <!-- Card header START -->
  <div class="card-header">
    <div class="row justify-content-between">
      <div class="col-auto">
        <span>
          🗓 Event — 
        </span>
        <span>
          <a href="#" class="action-link">
            #planned
          </a> 
        </span>
      </div>
      <div class="col-auto  font-monospace">
        11-02-2023
      </div>
    </div>
  </div>
  <!-- Card header END -->
  <style>
    h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, .h1 > a, .h2 > a, .h3 > a, .h4 > a, .h5 > a, .h6 > a {
      color: #14191e;
      text-decoration: none;
    }
    .card-post-heading > h3 {
      font-weight: 900;
    }
    .img-media {
      border-radius: .75rem;
      width: 100%;
    }
  </style>
  <!-- Card body START -->
  <div class="card-body">
    <div class="row">
      <div class="col">
        <a href="#">
          <img src="https://via.placeholder.com/450x150/d3e5ff/808080?RichardPersonas" class="img-fluid img-media" alt="...">
        </a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <h3 class="fw-bold">
          Event title
        </h3>
        <p>
          13-02-2023
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro a, debitis quaerat laudantium ipsum nisi minima incidunt doloribus autem quas accusantium labore? Veniam cumque, inventore corporis saepe quasi quam quas.
        </p>
      </div>
    </div>
  </div>
  <!-- Card body END -->
  <div class="card-footer">
    <div class="row justify-content-between">
      <div class="col-auto">
        <a href="#" class="action-link">
          View more
        </a> 
      </div>
      <div class="col-auto">
        ❤️ 3
      </div>
    </div>
  </div>
</div>