---

---
<style>
  .card {
    border-radius: .75rem;
  }
</style>
<div class="card mb-5">
  <!-- Card header START -->
  <div class="card-header">
    <div class="row justify-content-between">
      <div class="col-auto">
        <a href="#" class="action-link">
          #documented
        </a> 
      </div>
      <div class="col-auto  font-monospace">
        11-02-2023
      </div>
    </div>
  </div>
  <!-- Card header END -->
  <style>
    h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, .h1 > a, .h2 > a, .h3 > a, .h4 > a, .h5 > a, .h6 > a {
      color: #14191e;
      text-decoration: none;
    }
    .card-post-heading > h3 {
      font-weight: 900;
    }
  </style>
  <!-- Card body START -->
  <div class="card-body">
    <div class="card-post-heading">
      <h3 class="mt-2">
        <a href="#">What is Lorem Ipsum? Where can I get some?</a>
      </h3>
    </div>
  </div>
  <img src="https://via.placeholder.com/450x250/d3e5ff/808080?RichardPersonas" class="card-img-bottom" alt="...">
  <div class="card-body">
    <div class="card-post-content">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima illo necessitatibus voluptatum labore laudantium amet, impedit voluptates quo esse molestias quisquam molestiae, quae iste laborum. Quam reiciendis enim perspiciatis unde.
      </p>
    </div>
  </div>
  <!-- Card body END -->
  <div class="card-footer">
    <div class="row justify-content-between">
      <div class="col-auto">
        <a href="#" class="action-link">
          View more
        </a> 
      </div>
      <div class="col-auto">
        ❤️ 3
      </div>
    </div>
  </div>
</div>