---

---
<style>
  .card {
    border-radius: .75rem;
  }
</style>
<div class="card mb-5">
  <!-- Card header START -->
  <div class="card-header">
    <div class="row justify-content-between">
      <div class="col-auto">
        <a href="#" class="action-link">
          #thought
        </a> 
      </div>
      <div class="col-auto  font-monospace">
        11-02-2023
      </div>
    </div>
  </div>
  <!-- Card header END -->
  <style>
    h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, .h1 > a, .h2 > a, .h3 > a, .h4 > a, .h5 > a, .h6 > a {
      color: #14191e;
      text-decoration: none;
    }
    .card-post-heading > h3 {
      font-weight: 900;
    }
    .img-media {
      border-radius: .75rem;
      width: 100%;
    }
  </style>
  <!-- Card body START -->
  <div class="card-body">
    <p class="lead font-monospace">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi, enim amet? Doloremque deleniti tempore eum eligendi quidem, dicta, quae sed dolores recusandae omnis eos magni id consequatur quasi non culpa!
    </p>
  </div>
  <!-- Card body END -->
  <div class="card-footer">
    <div class="row justify-content-between">
      <div class="col-auto">
        <a href="#" class="action-link">
          View more
        </a> 
      </div>
      <div class="col-auto">
        ❤️ 3
      </div>
    </div>
  </div>
</div>