---
/**
* Styleguide: 
* a type of template file consisting of font and layout settings 
* to give a standardized look to documents.
*/
import { RootContainer, PersonaCard, PostLists, Aside, Main } from '@richardblondet.com/ui';
import ProfileCard from '../../components/ProfileCard';
import StyleGuideLayout from '../../layouts/styleguide.astro';

const personasEntries = await Astro.glob('../../../../../content/personas/*.mdx');
const personas = personasEntries.map(({frontmatter}) => ({ ...frontmatter }));

const posts = [{}, {coverImage: "/post-place-holder-cover.jpeg"}, {}];
---
<StyleGuideLayout>
  <RootContainer>
    <Aside>
      <ProfileCard 
        personasList={personas as any} client:load
        selectedPersona={'software-developer'} 
         />
      <PersonaCard />
    </Aside>
    <Main>
      <PostLists posts={posts} />
    </Main>
  </RootContainer>
</StyleGuideLayout>