---
/**
* Styleguide: 
* a type of template file consisting of font and layout settings 
* to give a standardized look to documents.
*/
import { RootContainer, PersonaCard, ProfileCard, PostLists, Aside, Main } from '@richardblondet.com/ui';
import StyleGuideLayout from '../../layouts/styleguide.astro';

const posts = [{}, {coverImage: "/post-place-holder-cover.jpeg"}, {}];
---
<StyleGuideLayout>
  <RootContainer>
    <Aside>
      <ProfileCard />
      <PersonaCard />
    </Aside>
    <Main>
      <PostLists posts={posts} />
    </Main>
  </RootContainer>
</StyleGuideLayout>