---
/**
* Styleguide: 
* a type of template file consisting of font and layout settings 
* to give a standardized look to documents.
*/
import { RootContainer, PersonaCard, PostCard, Container, Aside, Main } from '@richardblondet.com/ui';
import StyleGuideLayout from '../../layouts/styleguide.astro';

---
<StyleGuideLayout>
  <RootContainer>
    <Aside>
      <PersonaCard />
    </Aside>
      <Main>
        <Container css={{
          '@md': {
            maxWidthScreen: 'sm',
            margin: 'auto'
          }}}>
        <PostCard />
        <PostCard coverImage="/post-place-holder-cover.jpeg" />
        <PostCard />
      </Container>
    </Main>
  </RootContainer>
</StyleGuideLayout>