---
import Logo from "./Logo.astro";
import SkipToContent from "./SkipToContent.astro";
---

<header class="p-3 bg-slate-100 bg-opacity-80 backdrop-blur-md border-b text-slate-900">
	<SkipToContent />
	<nav title="Top Navigation" class="max-w-7xl mx-auto flex justify-between items-center px-4">
		<div>
      <Logo title={"— Design System"} />
		</div>
		<div class="flex gap-2"><!-- navbar right space for buttons or something --></div>
	</nav>
</header>