---
import { theme } from '../style/theme';
export interface Props {
  padding?: string;
  noProse?: boolean;
}

const { padding = "4em", noProse = false } = Astro.props;
---
<div class={`component-preview ${noProse ? 'not-prose': ''}`}>
  <slot />
</div>
<style define:vars={{ componentPreviewPadding: padding, colorCanvas: theme.colors['gray100'] }}>
  .component-preview {
    padding: var(--componentPreviewPadding);
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--colorCanvas);
    background-repeat: repeat;
    background-size: 16px 16px;
    border-radius: 0.75em;
    border: 1px solid theme("colors.slate.200");
    box-shadow: 0 2px 2px rgba(0,0,0,.06);
    resize: both;
  }
</style>