---
export interface Props {
  headers: string[];
  keyValObj: {[iterable:string]: string};
}
const { headers = ['Key', 'Values'], keyValObj = {} } = Astro.props;
---
<div class="flex">
  {headers.map((vKey: unknown) => (
    <div id={`heading-${vKey}`} class="basis-1/2 text-sm font-semibold text-slate-900 dark:text-slate-200 py-2">
      {vKey}
    </div>
  ))}
</div>
<div class="max-h-72 overflow-auto border-y text-sm">
  {Object.keys(keyValObj).map((vKey: unknown) => (
    <div class="flex p-1 border-b">
      <div id={`var-${vKey}`} class="basis-1/2">
        <code class="dark:bg-gray-800">${vKey}</code>
      </div>
      <div>{keyValObj[vKey as any]}</div>
    </div>
  ))}
</div>