---
import { proseContentClases } from './styles';

export interface Props {
  title: string;
  section: string;
  progress: string;
}

const { title, section, progress } = Astro.props;
---
<section class="flex">
  <span class="section text-sm uppercase leading-8 font-semibold text-sky-700 dark:text-sky-400">
    {section}
  </span>
  <span class="progress inline-flex items-center justify-center px-2 ml-3 text-xs text-gray-800 bg-gray-200 rounded-lg dark:bg-gray-700 dark:text-gray-300">
    {progress}
  </span>
</section>
<section class="page-heading border-b mb-4 lg:mb-5">
  <h1 class="font-extrabold text-2xl text-gray-800 dark:text-gray-200 md:text-4xl md:text-[40px] mb-2 lg:mb-4 mt-4">{title}</h1>
</section>
<article class:list={proseContentClases}>
  <slot />
</article>
