html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="style.css")
		script(type="text/javascript",src="https://s0.2mdn.net/ads/studio/Enabler.js")
		script(type="text/javascript",src="library.js")
		script(type="text/javascript",src="config.js")
			
	body
		#border.rel

			#container.rel.animate
				
				img#backup.abs.btn
				#header.abs.animate.btn.start
					img.background.abs.btn
				
				#subcontainer.rel.animate.start

			#loader.abs.animate
		
		script(type="text/javascript",src="main.js")
