.galleryContainer h2 {
  font-size: 10px;
  color: #666;
  top: 5px;
  left: 10px;
  width: 270px;
  line-height: 120%; }
.galleryContainer h1 {
  font-size: 16px;
  width: 270px;
  top: 38px;
  left: 10px;
  color: #555; }
.galleryContainer .footer {
  font-size: 10px;
  width: 270px;
  top: 250px;
  left: 10px; }
  .galleryContainer .footer .expert {
    color: #4896c1; }
.galleryContainer .sources {
  left: 9px;
  top: 263px; }
.galleryContainer .slide_index {
  font-size: 11px;
  width: 50px;
  top: 213px;
  left: 100; }
.galleryContainer .slide {
  width: 270;
  height: 140px;
  top: 65px;
  left: 10px;
  opacity: 0;
  z-index: 50; }
  .galleryContainer .slide.active {
    opacity: 1 !important;
    z-index: 52; }
  .galleryContainer .slide .title {
    font-size: 11px;
    font-weight: bold; }
    .galleryContainer .slide .title .color {
      color: #88aa01; }
      .galleryContainer .slide .title .color .tip {
        color: #444;
      }
  .galleryContainer .slide .text {
    top: 20px;
    font-size: 11px;
    width: 158px;
    height: 110px;
    line-height: 120%;
    color: #666; }
  .galleryContainer .slide#slide_0 .ribbon {
    top: 20px;
    left: -10px; }
  .galleryContainer .slide#slide_0 .text {
    font-size: 17px !important;
    left: 10px !important;
    top: 33px !important;
    width: 230px !important;
    color: #FFF !important;
    line-height: 110%; 
    font-weight: normal; }
  .galleryContainer .slide .image {
    top: 20px;
    right: 0px;
    width: 106px;
    height: 100px; }
.galleryContainer .blueGradient {
  background-color: #1f719c;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3688b8), to(#075a80));
  background: -webkit-linear-gradient(top, #3688b8, #075a80);
  background: -moz-linear-gradient(top, #3688b8, #075a80);
  background: -ms-linear-gradient(top, #3688b8, #075a80);
  background: -o-linear-gradient(top, #3688b8, #075a80); }
.galleryContainer .btn_gallery {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  top: 205px;
  border: 1px solid #FFF;
  z-index: 60; }
  .galleryContainer .btn_gallery.btn_prev {
    left: 10; }
  .galleryContainer .btn_gallery.btn_next {
    left: 66; }
  .galleryContainer .btn_gallery.btn_pause {
    left: 38; }
  .galleryContainer .btn_gallery svg {
    margin-top: 4px;
    margin-left: 4px;
    width: 16px;
    height: 16px; }
    .galleryContainer .btn_gallery svg path {
      fill: #FFF; }
  .galleryContainer .btn_gallery.active, .galleryContainer .btn_gallery.mouseover {
    background-color: #FFFFFF;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#FFFFFF));
    background: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
    background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
    background: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
    border: 1px solid #ccc; }
    .galleryContainer .btn_gallery.active svg path, .galleryContainer .btn_gallery.mouseover svg path {
      fill: #1f719c; }

.sourceContainer {
  visibility: hidden;
  background-color: #FFF;
  border: 1px solid #000;
  left: 20px;
  top: 60px;
  width: 250;
  height: 200;
  z-index: 60;
  overflow: hidden; }
  .sourceContainer.active {
    visibility: visible; }
  .sourceContainer .header {
    left: 5px;
    top: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #1f719c; }
  .sourceContainer .wrapper {
    width: 230;
    height: 160;
    padding: 10;
    overflow: auto;
    top: 20;
    color: #666; }
    .sourceContainer .wrapper p {
      font-size: 12px;
      margin-bottom: 10px; }
