---
import { theme } from '../../style/theme';
import Avatar from '../partials/Avatar.astro';
import Card from '../partials/Card.astro';

---
<Card>
  <!-- Cover image -->
  <!-- <div class="cover-img"></div> -->
    <!-- Avatar -->
    <div class="avatar-container text-center">
      <a href="#!">
        <Avatar size={'md'} withShadow={true} border={3} />
      </a>
    </div>
    <!-- Info -->
    <div class="persona-profile text-center">
      <h5 class="persona-name"><a href="#!">Software Engineer</a></h5>
      <div class="persona-legend">Persona</div>
      <p class="persona-description">I'd love to change the world, but they won’t give me the source code.</p>
    </div>
    <!-- Divider -->
    <hr>
    <!-- Persona Tags START -->
    <div class="text-center persona-actions">
      <p class="fw-bold">See what I've</p>
      <p>
        <a href="#" class="action-link">#coded</a>,
        <a href="#" class="action-link">#documented</a>,
        <a href="#" class="action-link">#reviewed</a>,
        <a href="#" class="action-link">#launched</a>,
        <a href="#" class="action-link">#been-recruited</a>
      </p>
    </div>
    <!-- Persona Tags END -->
    <!-- Divider -->
    <hr>
    <!-- Persona Currently START -->
    <div class="text-center persona-now">
      <p class="fw-bold">Currently</p>
      <ul class="d-block list-unstyled">
        <li>Open for work</li>
        <li>Building personas</li>
        <li>Learning astro</li>
      </ul>
    </div>
    <!-- Persona Currently END -->
    <!-- Card body END -->
</Card>
<style>
  hr {
    margin: 0 !important;
  }
  .persona-legend {
    text-transform: uppercase;
    font-size: 70%;
    letter-spacing: 2px;
    font-weight: 700;
    color: #979797;
  }
  .cover-img {
    height: 55px !important;
    background-color: #0070f3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .fw-bold {
    font-weight: 700!important;
  }
  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  .list-unstyled > li {
    margin: 0;
  }
  .avatar-container {
    display: flex;
    justify-content: center;
    margin-top: -5rem !important;
  }
  .persona-name > a {
    font-size: 1.171875rem;
    font-weight: 900;
    line-height: 1.25;
    color: #14191e;
    text-decoration: none;
    font-family: 'Inter';
  }
</style>