---
import { media } from '@richardblondet.com/ui';
import Card from '../partials/Card.astro';

export interface Props {
  coverImage?: string;
}
const { coverImage } = Astro.props;
const tags = [
  'Action', 'Another', 'Test'
];
---
<Card tokens={{cardBorderTopOverride:'1px'}}>
  <!-- Info -->
  <div class="persona-profile">
    <div class="post-heading">
      <div class="post-action">
        {tags.map(tag => (
          <a href="#" class="inline-block bg-gray-100 text-gray-600 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300">
            {tag}
          </a> 
        ))}
      </div>
      <div class="post-date text-slate-500 px-2.5 py-0.5 font-mono">
        Feb 24, 2023
      </div>
    </div>
    <!-- Cover image -->
    {coverImage ? <a href="#"><div class="cover-img" style={`background-image: url(${coverImage})`}></div></a> : null}
    <h3 class="post-title">
      <a href="#!">What is Lorem Ipsum? Where can I get some?</a>
    </h3>
      <p class="post-excerpt">
        <a href="#!">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima illo necessitatibus voluptatum labore laudantium amet, impedit voluptates quo esse molestias quisquam molestiae, quae iste laborum. Quam reiciendis enim perspiciatis unde.
        </a>
      </p>
    </div>
    <!-- Card body END -->
</Card>
<style>

    hr {
      margin: 0 !important;
    }
    .post-title {
      font-size: 1.3em;
      margin-top: 1em;
      margin-bottom: 1em;
      line-height: 1.3333333;
      font-family: 'Inter';
    }

    .post-title > a {
      font-weight: 700;
      color: #14191e;
      text-decoration: none;
      
    }
    .post-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .post-date {
      font-size: 70%;
    }
    .post-action > a {
      /* text-transform: uppercase;
      text-decoration: none;
      font-size: 70%;
      letter-spacing: 2px;
      font-weight: 700;
      color: #979797; */
    }
    .cover-img {
      margin-top: 1rem;
      min-height: 300px !important;
      background-color: #0070f3;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
      border-radius: var(--radii-xl);
      border: solid 1px #e5e7eb;
    }
    .fw-bold {
      font-weight: 700!important;
    }
    .list-unstyled {
      padding-left: 0;
      list-style: none;
    }
    .list-unstyled > li {
      margin: 0;
    }
    .avatar-container {
      display: flex;
      justify-content: center;
      margin-top: -5rem !important;
    }
    .post-excerpt {
      line-height: 1.5;
    }
    .post-excerpt > a {
      text-decoration: none;
    }
</style>
<style set:html={`
  @media ${media['sm']} {
    .post-title {
      font-size: 1.7em;
    }

    .post-title > a {
      font-weight: 900;

      text-decoration: none;
      font-family: 'Inter';
    }
  }
`} />