---
import Document from '../app/Document.astro';
import Navbar from '../app/Navbar.astro';
import MainContent from '../app/MainContent.astro';
import Sidebar from '../app/Sidebar.astro';
const currentPage = new URL(Astro.url.pathname, Astro.site).pathname;

const classes = {
  'main': [
    'flex relative'
  ],
  'section': [
    'p-4 lg:p-8 w-[100%]'
  ]
};

export interface Props {
  headings?: any[],
  title: string;
  section: string;
  progress: string;
  isHeadingsVisible?: boolean;
}

const { headings = [], isHeadingsVisible, ...rest } = Astro.props;
---

<Document>
  <title slot="document-head">Documentation for richardblondet.com</title>
  <body>
    <Navbar />
    <main class:list={classes['main']}>
      <Sidebar activePage={currentPage} />
      <section class:list={classes['section']}>
        <MainContent {...rest}>
          <slot />
        </MainContent>
      </section>
    </main>
  </body>
</Document>
<style is:inline>
  #sidebar-navigation {
    /* @apply fixed bg-white -left-72; */
    position: fixed;
    left: -18rem;
  }
  #sidebar-navigation.open {
    left: 0;
  }
  @media (min-width: 768px) {
    #sidebar-navigation {
      position: sticky;
      left: 0;
    }
  }
</style>
<script is:inline>
  function sidebarToggleHandler() {
    var sidebar = document.getElementById("sidebar-navigation");
    sidebar.classList.toggle("open");
  }

  document.querySelectorAll('.sidebar-toggler').forEach((el) => el?.addEventListener("click", sidebarToggleHandler));
</script>