---
import Document from '../components/layout/Document.astro';
import Navbar from '../components/layout/Navbar.astro';
import MainContent from '../components/layout/MainContent.astro';


const currentPage = new URL(Astro.url.pathname, Astro.site).pathname;

---

<Document>
  <title slot="document-head">Documentation for richardblondet.com</title>
  <body>
    <Navbar />
    <MainContent>
      <slot />
    </MainContent>
  </body>
</Document>