<div class="inner-content-box container-fluid">
	<div id="age-gate-partial" class="row">
		<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12 ">
			<h2 class="b-heading text-uppercase">
				Enter Your Birthdate
			</h2>
		</div>
		<div class="col-lg-offset-3 col-lg-6 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-3 col-xs-6" birthdate-picker-component>	
			<!-- <div class="birthdate-picker-container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="select-picker-wrapper">
							<month-picker></month-picker>
							<select name="month" id="month-picker" class="form-control">
								<option value="" selected="selected">MONTH</option>
							</select>
						</div> 
					</div>
					<div class="col-lg-3 col-md-6 col-sm-3 col-xs-12">
						<select name="dd" id="dd-picker" class="form-control">
							<option value="" selected="selected">DD</option>
						</select>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-3 col-xs-12">
						<select name="yyyy" id="yyyy-picker" class="form-control">
							<option value="" selected="selected">YYYY</option>
						</select>
					</div>
				</div>
			</div>
			<div class="confirm-button">
				<div class="row">
					<button class="btn btn-danger">
						continue
					</button>
				</div> 
			</div> -->
		</div>
		<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
			<div class="footer-links"> 
				<a href="/terms-of-user" class="link hidden">Terms of Use</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="/official-rules" class="link hidden">Official Rules</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="/privacy-policy" class="link hidden">Privacy Policy</a>&nbsp;&nbsp;&nbsp;
			</div>
		</div>
	</div> 
</div>