<div class="inner-content-box container-fluid">
	<div id="error-partial" class="row">
		<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10">
			<h2 class="b-heading text-center text-uppercase">
				Sorry, the submission period for this contest is now closed.
			</h2>
			<p class="text-center">
				Please enjoy some videos about our upcoming original movie Adventures in Babysitting! <br><br> <a href="https://www.youtube.com/watch?v=9nIuu8TYBxE" target="_blank">Movie Trailer</a><br><a href="https://www.youtube.com/watch?v=IBfVywm5DwA" target="_blank">Babysitters' Rap Battle</a><br><a href="https://www.youtube.com/watch?v=zBpoeESeYd8" target="_blank">Meet Sabrina Carpenter as Jenny the perfect babysitter!</a><br><a href="https://www.youtube.com/watch?v=VZezrIjcZPs" target="_blank">Meet Sofia Carson as Lola the free-spirited babysitter!</a>
			</p>
		</div>
	</div> 
</div>