<div class="inner-content-box video-instruction">
	<div id="instructions-partial" class="container-fluid">
		<p class="text-center">
			<img src="../public/assets/imgs/AIB_LiveEditionContest_logo.png" width="220" alt="">
		</p>
		<div id="instructions-wrapper">
			<div class="row">
				<div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
					<p>ON JUNE 24, BE PART OF DISNEY CHANNEL'S ADVENTURES IN BABYSITTING: LIVE EDITION ON FACEBOOK, WHEN WE WILL CELEBRATE THE PREMIERES OF THE NEW DISNEY CHANNEL ORIGINAL MOVIE — ADVENTURES IN BABYSITTING — AND THE PREMIERE OF THE NEW DISNEY CHANNEL ORIGINAL SERIES – BIZAARDVARK!</p>
					<p>YOU MIGHT SEE YOUR BABYSITTING STORY FEATURED ON DISNEY CHANNEL'S FACEBOOK PAGE AS YOU HANG OUT WITH SOME OF YOUR FAVORITE DISNEY CHANNEL STARS, PLUS SOME SURPRISE GUESTS!</p>
					<p>USE THE HASHTAG #ADVENTURESINBABYSITTING TO SHARE WITH YOUR FRIENDS AND FAMILY!</p>
					<br>
					<p>DO'S & DON'TS:</p>
					<br>
					<p>-       DO UPLOAD YOUR VIDEO BY MAY 27</p>
					<p>-       DO KEEP YOUR VIDEO BETWEEN 30 – 60 SECONDS</p>
					<p>-       DO MAKE SURE YOU HAVE GOOD LIGHTING</p>
					<p>-       DO WEAR BRIGHT CLOTHING</p>
					<p>-       DO PROTECT YOUR PRIVACY. USE ONLY FIRST NAMES. NO OTHER INFORMATION, PLEASE. ONLY YOU (AS THE CONTESTANT CAN BE IN THE VIDEO) </p>
					<p>-       DO BE ORIGINAL, BE SAFE, AND HAVE FUN! NO RISKY MOVES OR DANGEROUS STUNTS </p>
					<p>-       DO NOT SHOW ANY RECOGNIZABLE BRANDS OR LOGOS (OTHER THAN DISNEY-BRANDED ITEMS) ON CLOTHES, SNEAKERS, IN THE BACKGROUND, OR ANYWHERE</p>
					<p>-       DO NOT SUBMIT VIDEO THAT INCLUDES MUSIC, IS LARGER THAN 150MB OR IN THE WRONG FORMAT</p>
					<p>-       DO NOT BE RUDE OR USE PROFANITY; DON'T WEAR REVEALING CLOTHING OR MAKE SUGGESTIVE MOVEMENTS</p>
					<p>-       DO NOT USE MATERIAL YOU DON'T OWN. NO FILM OR TV CLIPS OR OTHER MATERIAL THAT VIOLATES OR INFRINGES THE RIGHTS OF ANY PERSON OR ENTITY (WHETHER LIVING OR DECREASED)</p>
					<br>
					<p>DON'T FORGET TO WATCH THE PREMIERES OF ADVENTURES IN BABYSITTING AND BIZAARDVARK ON JUNE 24…. AND JOIN THE LIVE PREMIERE EVENT ON DISNEY CHANNEL'S FACEBOOK… YOU MIGHT SEE YOUR STORY FEATURED OR GET A SPECIAL SHOUT!<p>
					<p>SEE YOU THEN!</p>
					
				</div>
			</div>
		</div> 
		<div id="upload-button" class="">
			<div class="row text-center">
				<button data-ng-click="proceed()" class="btn btn-danger">
					continue
				</button><br><br>
				<small><sup>*</sup>Only one video submission per person</small><br><br>
			</div>
		</div>
	</div>
</div>