<div class="inner-content-box">
	<div id="success-partial" class="container-fluid">
		<div id="success-wrapper">
			<div class="row">
				<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10"> 
					<div class="middle-heading">
						<div class="good-luck-heading" align="center">
							<h1 class="b-heading text-uppercase">Thank you!</h1>
							<p class="text-uppercase">
								DON’T MISS THE PREMIERE OF ADVENTURES IN BABYSITTING & BIZAARDVARK ON JUNE 24 AT 8P ON DISNEY CHANNEL! AND JOIN THE CONVERSATION ON PREMIERE NIGHT ON DISNEY CHANNEL’S FACEBOOK PAGE FOR THE ADVENTURES IN BABYSITTING: LIVE EDITION!
							</p>
						</div>
					</div>
					<div class="share-on text-center">
						<a href="http://www.facebook.com/DisneyChannel" target="_blank"><img src="assets/imgs/facebook-red.png" height="36" width="36" alt=""></a>&nbsp;&nbsp;<a href="http://twitter.com/DisneyChannel" target="_blank"><img src="assets/imgs/twitter-red.png" height="36" width="36" alt=""></a>&nbsp;&nbsp;<a href="http://www.instagram.com/disneychannel/" target="_blank"><img src="assets/imgs/instagram-red.png" height="36" width="36" alt=""></a>&nbsp;&nbsp;<a href="http://www.youtube.com/user/disneychannel" target="_blank"><img src="assets/imgs/youtube-s-red.png" height="36" width="36" alt=""></a>
					</div>
					<div class="hastag-text">
						<p class="text-uppercase text-center"><strong>#ADVENTURESINBABYSITTING</strong></p>
					</div>
					<div class="clearfix">&nbsp;</div><div class="clearfix">&nbsp;</div><div class="clearfix">&nbsp;</div>
				</div>
			</div>
		</div> 
	</div>
</div>