<div class="inner-content-box video-instruction">
	<div id="video-instruction-partial" class="">
		<div class="video-wrapper">
			<div class="video-responsive">
				<video id="vidplayer" controls autoplay onended="javascript:vidEnd()" poster="assets/imgs/poster.jpg">
				  <source src="video/video.mp4" type="video/mp4">
				</video>
				<!-- <disney-player width="100%" height="0" videoid="kzYfRLMtP9c"></disney-player> -->
			</div>
		</div>
		<div id="btnup">
			<span class="ready-copy">Ready to upload?</span>
			<button data-ng-click="proceed()" class="btn btn-danger">continue</button>
		</div>
	</div> 
</div>